<header>
    <div class="headerstrip">
        <div class="container">
            <div class="row">
                <div class="col-lg-12"> <a href="/" class="logo pull-left"><img src="/img/logo.png" alt="SimpleOne" title="SimpleOne"></a> 
                    <!-- Top Nav Start -->
                    <div class="pull-left">
                        <div class="navbar" id="topnav">
                            <div class="navbar-inner">
                                <ul class="nav" >
                                    <li><a class="home active" href="/"><%= __('Home') %></a> </li>
                                    <% if(typeof user !== 'undefined'){ %>
                                        <li><a class="myaccount" href="#"><%= user.username %></a> </li>
                                    <% }else { %>
                                        <li><a class="myaccount" href="/login"><%= __('My Account')  %></a> </li>
                                    <% } %>
                                    <li><a class="shoppingcart" href="/shoping-cart/details"><%= __('Shopping Cart') %></a> </li>
                                    <li><a class="checkout" href="#"><%= __('CheckOut') %></a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Top Nav End -->
                    <div class="pull-right">
                        <form class="form-search top-search">
                            <input type="text" class="input-medium search-query" placeholder="Search Here…">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="headerdetails">
            <div class="pull-left">
                <ul class="nav language pull-left">
                    <li class="dropdown hover"> <a href="#" class="dropdown-toggle" data-toggle="">US Doller <b class="caret"></b></a>
                        <ul class="dropdown-menu currency">
                            <li><a href="#">US Doller</a> </li>
                            <li><a href="#">Euro </a> </li>
                            <li><a href="#">British Pound</a> </li>
                        </ul>
                    </li>
                    <li class="dropdown hover"> <a href="#" class="dropdown-toggle" data-toggle="">English <b class="caret"></b></a>
                        <ul class="dropdown-menu language">
                            <li><a href="/change-languages/en">English</a> </li>
                            <li><a href="/change-languages/vi">Vietnamese</a> </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="pull-right">
                <ul class="nav topcart pull-left">
                    <li class="dropdown hover carticon "> 
                        <a href="/shoping-cart/details"> 
                            Shopping Cart 
                            <% if(typeof cart !== 'undefined'){ %>
                                <span class="label label-orange font14" id="show_cart"><%= cart.length %> item(s)</span>
                            <% }else{ %>
                                <span class="label label-orange font14" id="show_cart">0 item(s)</span>
                            <% } %>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="categorymenu">
            <nav class="subnav">
                <ul class="nav-pills categorymenu">
                    <li><a class="active"  href="/">Home</a>
                    </li>
                    <li><a href="#"><%= __('Men') %></a>
                        <div>
                            <ul>
                                <% for(i in categories){ 
                                    if( categories[i].type == 1 ) { %>
                                <li><a href="/category/<%= categories[i]._id %>"><%= categories[i].name %></a> </li>
                                <% } } %>
                            </ul>
                            <ul>
                                <li><img style="display:block" src="/img/proudctbanner.jpg" alt="" title="" > </li>
                            </ul>
                        </div>
                    </li>
                    <li><a  href="#"><%= __('Women') %></a> 
                        <div>
                            <ul>
                                <% for(i in categories){ 
                                    if( categories[i].type == 2 ) { %>
                                    <li><a href="/category/<%= categories[i]._id %>"><%= categories[i].name %></a> </li>
                                <% } } %>
                            </ul>
                            <ul>
                                <li><img style="display:block" src="/img/proudctbanner.jpg" alt="" title="" > </li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="blog.html"><%= __('Blog') %></a>
                        <div>
                            <ul>
                                <li><a href="blog.html">Blog page</a> </li>
                                <li><a href="bloglist.html">Blog List VIew</a> </li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="shopping-cart.html"><%= __('About') %></a> </li>
                    <li><a href="checkout.html"><%= __('Contact') %></a> </li>

                    <!-- <% for(i in categories) { %>
                        <li><a href="features.html"><%= categories[i].name %></a> </li>
                    <% } %> -->
                </ul>
            </nav>
        </div>
    </div>
</header>