<!DOCTYPE HTML>
<html>

<head>
    <title>Minimal an Admin Panel Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="havana" />
    <%- include('../blocks/header_links') %>
</head>

<body>
    <div id="wrapper">
        <!------>
        <nav class="navbar-default navbar-static-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1> <a class="navbar-brand" href="/admin">Havana</a></h1>
            </div>
            <div class=" border-bottom">
                <div class="full-left">
                    <section class="full-top">
                        <button id="toggle"><i class="fa fa-arrows-alt"></i></button>
                    </section>
                    <form class=" navbar-left-right">
                        <input type="text" value="Search..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search...';}">
                        <input type="submit" value="" class="fa fa-search">
                    </form>
                    <div class="clearfix"> </div>
                </div>
                <%- include('../blocks/top_nav') %>
                    <!-- /.navbar-collapse -->
                    <div class="clearfix">
                    </div>
                    <%- include('../blocks/main_menu') %>
        </nav>
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="content-main">
                <!--banner-->
                <div class="banner">
                    <h2>
		<a href="index.html">Trang chủ quản trị</a>
		<i class="fa fa-angle-right"></i>
        <span><%= __('Sản phẩm') %></span>
        <i class="fa fa-angle-right"></i>
		<span><%= __('Thêm mới') %></span>
		</h2>
                </div>
                <div class="col-md-12 " style="min-height:65vh;" id="add_product">
                    <div>
                        <div class="col-md-12 panel-content">
                            <form method="post" ref="form" action="/admin/product/add/new" enctype="multipart/form-data" v-on:submit.prevent="checkValidate">
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="exampleFormControlSelect1">
                                            <%= __('Loại sản phẩm') %>
                                        </label>
                                        <select class="form-control" name="product_type">
                                            <% categories.forEach((category) => { %>
                                                <option value="<%= category._id %>">
                                                    <%= category.name %>
                                                </option>
                                                <% }) %>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">
                                            <%= __('Tên sản phẩm') %>
                                        </label>
                                        <input type="text" class="form-control" id="exampleInputEmail1" name="product_name" placeholder="Nhập tên sản phẩm" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">
                                            <%= __('Đơn giá') %>
                                        </label>
                                        <input type="text" class="form-control" v-model="unit_price" @change="validateUnitPrice" name="unit_price" placeholder="Nhập đơn giá" required>
                                        <small id="emailHelp" class="form-text text-muted">
										<p style="color:red;">{{ unitPriceAlert }}</p>
									</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">
                                            <%= __('Giá giảm giá') %>
                                        </label>
                                        <input type="text" class="form-control" v-model="promo_price" name="promo_price" placeholder="Nhập gia khuyến mãi" @change="validatePromoPrice">
                                        <small id="emailHelp" class="form-text text-muted">
										<p style="color:red;">{{ promoPriceAlert }} </p>
									</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">
                                            <%= __('Tổng số lương') %>
                                        </label>
                                        <input type="text" class="form-control" v-model="quantity" @change="validateQuantity" name="quantity" placeholder="Nhập số lượng">
                                        <small id="emailHelp" class="form-text text-muted">
											<p style="color:red;">{{ quantityAlert }}</p>
										</small>
                                    </div>

                                    <div class="form-group" v-for="(color, index) in colors" :key="index">
                                        <div class="form-group row">
                                            <div class="col-xs-6">
                                                <label for="ex1">Màu sản phẩm</label>
                                                <input class="form-control" type="color" name="color[]" :key="index">
                                            </div>
                                            <div class="col-xs-6">
                                                <label for="ex1">Số lượng tương ứng</label>
                                                <div class="input-group">
                                    
                                                <input type="text" class="form-control" :key="index" name=color[]>
                                                <span class="input-group-btn">
                                                        <button class="btn btn-secondary" type="button" @click="removeColor(index)"> 
                                                            <i class="fa fa-trash-o" style="color:#F25C27;"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-primary btn-xs" @click="adMoreColor" style="background: #F25C27;
										border-color: #F25C27;">Thêm màu</button>
                                    </div>

                                    <div class="form-group" v-for="(size, index) in sizes" :key="index">
                                            <div class="form-group row">
                                                <div class="col-xs-6">
                                                    <label for="ex1">Kích cỡ</label>
                                                    <select name="size[]" class="form-control">
                                                        <option>XXL</option>
                                                        <option>XL</option>
                                                        <option>L</option>
                                                        <option selected>M</option>
                                                        <option>S</option>
                                                    </select>
                                                </div>
                                                <div class="col-xs-6">
                                                    <label for="ex1">Số lượng tương ứng</label>
                                                    <div class="input-group">
                                                    <input type="text" class="form-control" :key="index" name=size[]>
                                                    <span class="input-group-btn">
                                                            <button class="btn btn-secondary" type="button" @click="removeSize(index)"> 
                                                                <i class="fa fa-trash-o" style="color:#F25C27;"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                                <button type="button" class="btn btn-primary btn-xs" @click="adMoreSize" style="background: #F25C27;
                                                border-color: #F25C27;">Thêm kích cỡ</button>
                                            </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1">
                                            <%= __('Mô tả sản phẩm') %>
                                        </label>
                                        <textarea class="form-control" name="description" rows="5"></textarea>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="status" value="1" checked>
                                        <label class="form-check-label" for="inlineRadio1">
                                            <%= __('Sản phẩm mới') %>
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="status" id="inlineRadio2" value="2">
                                        <label class="form-check-label" for="inlineRadio2">
                                            <%= __('Hàng sắp về') %>
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="status" id="inlineRadio3" value="3">
                                        <label class="form-check-label" for="inlineRadio3">
                                            <%= __('Đã hết') %>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleFormControlFile1">
                                            <%= __('Hình đại diện sản phẩm ') %>
                                        </label>
                                        <input type="file" class="form-control-file" name="avatar" accept="image/*">
                                    </div>
                                    <div class="col-md-7 row" v-for="detail in imgDetailsNum">
                                        <div class="form-group">
                                            <label for="exampleFormControlFile1">
                                                <%= __('Ảnh chi tiết ') %>
                                            </label>
                                            <input type="file" class="form-control-file" name="details" accept="image/*">
                                        </div>
                                    </div>
                                    <div class="col-md-5 row">
                                        <div class="form-group">
                                            <button type="button" class="btn btn-admore" @click="imgDetailsNum += 1">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                                <span>Thêm ảnh chi tiết</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-md-12 row">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary" style="background: #F25C27;
											border-color: #F25C27;">Hoàn tất</button>
                                            <button type="reset" class="btn btn-primary" style="background: rgb(201, 198, 197);
											border-color: rgb(151, 149, 149);">Hủy bỏ</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
                <div class="clearfix"> </div>

                <!--//content-->
                <!---->
                <div class="copy">
                        <p> &copy; xdangminhtruongx@gmail.com | Design by <a href="#" target="_blank">Dang Minh Truong</a> </p>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        </div>
        <%- include('../blocks/footer_links') %>
</body>

</html>