<!DOCTYPE HTML>
<html>
	<head>
		<title>Minimal an Admin Panel Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="havana" />
		<%- include('../blocks/header_links') %>
	</head>
	<body>
		<div id="wrapper">
		<!------>
		<nav class="navbar-default navbar-static-top" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<h1> <a class="navbar-brand" href="/admin">Havana</a></h1>
		</div>
		<div class=" border-bottom">
			<%- include('../blocks/top_nav') %>
			<div class="clearfix">
			</div>
			<%- include('../blocks/main_menu') %>
		</nav>
		<div id="page-wrapper" class="gray-bg dashbard-1">
		<div class="content-main">
		<div class="banner">
		<h2>
		<a href="index.html">Home</a>
		<i class="fa fa-angle-right"></i>
        <span><%= __('Bills') %></span>
        <i class="fa fa-angle-right"></i>
		<span><%= __('List') %></span>
		</h2>
		</div>
		<div class="content-top">
		<div class="col-md-12 " style="min-height:65vh;" id="bills">
			<div class="col-md-12 panel-content">
					<form class="" role="form">
						<!-------->
						<div class="col-md-5">
							<div class="col-md-6 col-xs-12">
								<div class="form-group">
									<label class="sr-only" for=""></label>
									<input type="text" class="form-control" @focus="showStage = !showStage" placeholder="Tìm từ ngày" id="fill-start-day">
								</div>
							</div>
							<div class="col-md-6 col-xs-12">
								<div class="form-group">
									<label class="sr-only" for=""></label>
									<input type="text" class="form-control" placeholder="Đến ngày" id="fill-end-day">
								</div>
							</div>
						</div>
						<!-------->
						<div class="col-md-6">
						<div class="col-md-6 col-xs-12">
							<div class="form-group">
							<select class="form-control" :disabled="showStage" v-model="byStage">
								<option value="null">Tìm trong</option>
								<option value="week">Tuần này</option>
								<option value="month">Tháng này</option>
							</select>
							</div>
						</div>
						<div class="col-md-6 col-xs-12">
							<div class="form-group">
							<select class="form-control" name="timTheoTinhTrang" v-model="byStatus">
								<option value="null">Tình trạng đơn hàng</option>
								<option  value="pendding">Đang chờ</option>
								<option  value="confirmed">Đã xác nhận</option>
								<option  value="shipping">Đang chuyển hàng</option>
								<option  value="done">Hoàn tất</option>
							</select>
							</div>
						</div>
						</div>
						<!-------->
						<div class="col-md-1 col-xs-12">
						<button type="button" class="btn btn-sm btn-success" style="background-color:#F25C27" @click="fill()">Lọc</button>
						</div>
					</form>
					<div class="col-md-12" style="color:black">
							<div class="col-md-12 row">
								<div class="col-md-4 col-lg-4">
									Details
								</div>
								<div class="col-md-3 col-lg-3">
									Customer infor
								</div>
								<div class="col-md-2 col-lg-2" >
									Note
								</div>
								<div class="col-md-1 col-lg-1">
									Status
								</div>
								<div class="col-md-2 col-lg-2">
									Action
								</div>
							</div>
					</div>
					<div class="col-md-12 col-sm-12" style="min-height:60vh; max-height:60vh; text-align:left; overflow-y: scroll">
						<div class="col-md-12 row" v-for = "bill in bills" style="padding:2vh; border-bottom: 1px solid;">
							<div class="col-md-4 col-lg-4">
								<div v-for = "item in bill.detais" class="col-md-12 well row" style="padding:1vh;">
									<div class="col-md-12 row">
										<span style="color:red">{{ item.product_id.name }} </span>
									</div>
									<div class="col-md-12 row">
										<b>Số lượng: </b><span style="color:red">{{ item.quantity }}</span><br/>
									</div>
									<div class="col-md-12 row">
											<b>Size: </b><span style="color:red">{{ item.size }}</span><br/>
									</div>
									<div class="col-md-12 row">
										<b>Màu sắc: </b>
										<div class="circle" v-bind:style="{ background: item.colors}"></div>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-lg-3">
								<span style="color:red">Customer name: <br/></span>{{ bill.user.username }} <br/>
								<span style="color:red">Customer address: <br/></span>{{ bill.user.address }} <br/>
								<span style="color:red">Customer email: <br/></span>{{ bill.user.email }} <br/>
							</div>
							<div class="col-md-2 col-lg-2" >
								{{ bill.note }}
							</div>
							<div class="col-md-1 col-lg-1">
								<span v-if = "bill.status == 1 ">
									<span class="label label-primary">pedding</span>
								</span>
								<span v-else-if = "bill.status == 2">
									<span class="label label-info">confirm</span>
								</span>
								<span v-else-if = "bill.status == 3">
									<span class="label label-default">shipping</span>
								</span>
								<span v-else-if = "bill.status == 4">
									<span class="label label-success">done</span>
								</span>
							</div>
							<div class="col-md-2 col-lg-2">
								<button class="btn btn-xs btn-warning">
									edit
								</button>
								<button class="btn btn-xs btn-danger">
									delete
								</button>
							</div>
						</div>
					</div>
			</div>   
		</div>
		<div class="clearfix"> </div>
		</div>
		<!--//content-->
		<!---->
		<div class="copy">
				<p> &copy; xdangminhtruongx@gmail.com | Design by <a href="#" target="_blank">Dang Minh Truong</a> </p>
		</div>
		</div>
		<div class="clearfix"> </div>
		</div>
		</div>
		<%- include('../blocks/footer_links') %>
	</body>
</html>