<!DOCTYPE HTML>
<html>

<head>
	<title>Minimal an Admin Panel Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="havana" />
	<%- include('../blocks/header_links') %>
</head>

<body>
	<div id="wrapper">
		<!------>
		<nav class="navbar-default navbar-static-top" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<h1>
					<a class="navbar-brand" href="/admin">Havana</a>
				</h1>
			</div>
			<div class=" border-bottom">
				<div class="full-left">
					<section class="full-top">
						<button id="toggle">
							<i class="fa fa-arrows-alt"></i>
						</button>
					</section>
					<form class=" navbar-left-right">
						<input type="text" value="Search..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search...';}">
						<input type="submit" value="" class="fa fa-search">
					</form>
					<div class="clearfix"> </div>
				</div>
				<%- include('../blocks/top_nav') %>
					<div class="clearfix">
					</div>
					<%- include('../blocks/main_menu') %>
		</nav>
		<div id="page-wrapper" class="gray-bg dashbard-1">
			<div class="content-main">
				<div class="banner">
					<h2>
						<a href="index.html">Trang quản trị</a>
						<i class="fa fa-angle-right"></i>
						<span>
							<%= __('Loại sản phẩm') %>
						</span>
						<i class="fa fa-angle-right"></i>
						<span>
							<%= __('Thêm') %>
						</span>
					</h2>
				</div>
				<div class="content-top">
					<div class="col-md-12 " style="min-height:65vh; font-family: 'OleoScript-Regular';" id="bill_details">
						<input type="hidden" value="<%= bill._id %>" id='current_bill_id'>
						<div class="col-md-12 panel-bill-detail">
							<div class="col-md-12 well top_bar_bill_detail">
								<strong>Chi tiết đơn hàng</strong>
							</div>
							<div class="col-md-12" style="margin-bottom: 2vh;">
								<div class="col-md-3">
									<label class="col-md-12 control-label">Tên khách hàng</label>
									<div class="col-md-12">
										<%= bill.user.username %>
									</div>
								</div>

								<div class="col-md-3">
									<label class="col-md-12 control-label">Số điện thoại</label>
									<div class="col-md-12">
										<%= bill.phone %>
									</div>
								</div>
								<div class="col-md-3">
									<label class="col-md-12 control-label">Địa chỉ giao hàng</label>
									<div class="col-md-12">
										<%= bill.address %>
									</div>
								</div>
								<div class="col-md-3">
									<label class="col-md-12 control-label">Ghi chú</label>
									<div class="col-md-12">
										<%= bill.note %>
									</div>
								</div>
							</div>

							<div class="col-md-12 ">
								<hr class="style3" />
								<div class="check-out show_bill_details scrollbar" id="style-7">
									<table>
										<thead>
											<tr>
												<th>Item</th>
												<th>Qty</th>
												<th>Size</th>
												<th>Color</th>
												<th>Prices</th>
												<th>Action</th>
											</tr>
										</thead>
										<tbody>
											<tr v-for="(item, index) in details" :key="item._id">
												<td class="ring-in">
													<a class="at-in" href="#">
														<img :src=`/img/${item.product_id.image}` class="img-responsive" alt="">
													</a>
													<div class="sed">
														<h5>{{ item.product_name }}</h5>
													</div>
													<div class="clearfix"> </div>
												</td>
												<td class="check">
													<input type="text" name="quantity" :value=`${item.quantity}` v-model="details[index].quantity">
												</td>
												<td>
													<select class="form-control custom" v-model="details[index].size">
														<template v-for="(size, indexSize) in item.product_id.size">
															<option :value="size.code">
																{{ size.code }}
															</option>
														</template>
													</select>
												</td>
												<td class="colors">
													<label class="containerr" v-for="(color, indexColor) in item.product_id.colors">
														<input type="radio" :name="item._id" v-model="details[index].colors" :value="color.code">
														<span class="checkmark" :style="{ background: color.code }">
														</span>
													</label>

												</td>
												<td>
													${{ ( item.product_id.promo_price ) ? item.quantity * item.product_id.promo_price : item.quantity * item.product_id.unit_price}}
												</td>
												<td>
													<button type="button" class="btn btn-primary btn-xs" v-on:click="updateItem(index, item._id)">
														Update
														<i class="fa fa-trash-o" aria-hidden="true"></i>
													</button>
													<button type="button" class="btn btn-danger btn-xs" 
															v-on:click="removeItem(item._id, item.colors, item.size, item.product_id._id, item.quantity)">
														Xóa
														<i class="fa fa-trash-o" aria-hidden="true"></i>
													</button>
												</td>
											</tr>
										</tbody>
									</table>

								</div>
								<div class="col-md-12 row" style="padding-top: 2vh; padding-bottom: 2vh;" data-spy="affix" data-offset-top="197">
									<div class="col-md-2"></div>
									<div class="col-md-4">
										<div class="dropup">
											<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
												Cập nhật trạng thái
												<span class="caret"></span>
											</button>
											<ul class="dropdown-menu">

											
												<li v-for="i in list">
													<button class="btn btn-link" @click="updateStatus(i)">
														 <span v-if="i === 1">
																Đang chờ 
														 </span>
														 
														 <span v-if="i === 2">
																Đã xác nhận
														 </span>

														 <span v-if="i === 3">
																Đã chuyển hàng
														 </span>

														 <span v-if="i === 4">
																Hoàn tất
														 </span>
												
														
															<i class="fa fa-check" aria-hidden="true" v-if="i === status"></i>
														
													</button>
												</li>
									

											</ul>
										</div>
									</div>
									<div class="col-md-3">
										<a type="button" href="/admin/bills/export/<%= bill._id %>" target="_blank" class="btn btn-warning">
											Xuất hóa đơn
											<i class="fa fa-file-pdf-o" aria-hidden="true"></i>
										</a>
									</div>
									<div class="col-md-3">
										<button type="button" class="btn btn-danger" @click="removeBill(id)">
											Hủy đơn hàng
											<i class="fa fa-trash-o" aria-hidden="true"></i>
										</button>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>

			</div>

		</div>
		</div>
		<%- include('../blocks/footer_links') %>
			<% if(typeof messages !== 'undefined'){ %>
				<script>
					toastr.options.closeButton = true;
					toastr.success('Xóa đơn hàng thành công !');
				</script>
				<% } %>
</body>

</html>