<!DOCTYPE HTML>
<html>
	<head>
		<title>Minimal an Admin Panel Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="havana" />
		<%- include('../blocks/header_links') %>
	</head>
	<body>
		<div id="wrapper">
		<!------>
		<nav class="navbar-default navbar-static-top" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<h1> <a class="navbar-brand" href="/admin">Havana</a></h1>
		</div>
		<div class=" border-bottom">
			<div class="full-left">
				<section class="full-top">
					<button id="toggle"><i class="fa fa-arrows-alt"></i></button>	
				</section>
				<form class=" navbar-left-right">
					<input type="text"  value="Search..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search...';}">
					<input type="submit" value="" class="fa fa-search">
				</form>
				<div class="clearfix"> </div>
			</div>
			<%- include('../blocks/top_nav') %>
			<div class="clearfix">
			</div>
			<%- include('../blocks/main_menu') %>
		</nav>
		<div id="page-wrapper" class="gray-bg dashbard-1">
		<div class="content-main">
		<div class="banner">
		<h2>
		<a href="index.html">Trang quản trị</a>
		<i class="fa fa-angle-right"></i>
        <span><%= __('Người dùng') %></span>
        <i class="fa fa-angle-right"></i>
		<span><%= __('Thêm mới') %></span>
		</h2>
		</div>
		<div class="content-top">
		<div class="col-md-12 " style="min-height:75vh;" id="edit_user">
            <div >
                <div class="col-md-12 panel-content" style="min-height:70vh">
						<input type="hidden" value="<%= user._id%>" id="currentUser"/>
					<form action="/admin/user/changepass" method="post"  v-on:submit.prevent="onSubmit">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="sel1"><%= __(' Phân quyền ') %> :</label>
                                <select class="form-control" v-model="userRight" required>
                                    <option value="4" >Khách hàng</option>
                                    <option value="2">Nhân viên</option>
                                    <option value="1">Admin</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="email"><%= __('Tên người dùng ') %>:</label>
                                <input type="text" class="form-control" v-model="userName" name="userName" autocomplete='me' required/>
                            </div>
                            <div class="form-group">
                                <label for="email"><%= __('Số điện thoại') %>:</label>
                                <input type="text" class="form-control" v-model="phone" name="phone" autocomplete='tel-0' required>
							</div>
							<div class="form-group">
                                <label for="email"><%= __('Địa chỉ ') %>:</label>
                                <input type="text" class="form-control" v-model="address" name="address" autocomplete='address' required>
                            </div>
							<div class="form-group">
                                <label for="email"><%= __('Email ') %>:</label>
                                <input type="text" class="form-control" v-model="email" name="email" autocomplete='mail' required>
                            </div>

							<button type="button" class="btn btn-sucess" @click="editUser" style="color: #999; background-color:#F25C27"><%= __('Xong') %></button>
                        </div>
                    </form>
                </div>
            </div>
            
		</div>
		<div class="clearfix"> </div>
		</div>
		<div class="copy">
				<p> &copy; xdangminhtruongx@gmail.com | Design by <a href="#" target="_blank">Dang Minh Truong</a> </p>
		</div>
		</div>
		<div class="clearfix"> </div>
		</div>
		</div>
		<%- include('../blocks/footer_links') %>
	</body>
</html>