<!DOCTYPE HTML>
<html>

<head>
    <title>Minimal an Admin Panel Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="havana" />
    <%- include('../blocks/header_links') %>
</head>

<body>
    <div id="wrapper">
        <!------>
        <nav class="navbar-default navbar-static-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1>
                    <a class="navbar-brand" href="/admin">Havana</a>
                </h1>
            </div>
            <div class=" border-bottom">
                <div class="full-left">
                    <section class="full-top">
                        <button id="toggle">
                            <i class="fa fa-arrows-alt"></i>
                        </button>
                    </section>
                    <form class=" navbar-left-right">
                        <input type="text" value="Search..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search...';}">
                        <input type="submit" value="" class="fa fa-search">
                    </form>
                    <div class="clearfix"> </div>
                </div>
                <%- include('../blocks/top_nav') %>
                    <div class="clearfix">
                    </div>
                    <%- include('../blocks/main_menu') %>
        </nav>
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="content-main">
                <div class="banner">
                    <h2>
                        <a href="index.html">Home</a>
                        <i class="fa fa-angle-right"></i>
                        <span>
                            <%= __('Category') %>
                        </span>
                        <i class="fa fa-angle-right"></i>
                        <span>
                            <%= __('Add') %>
                        </span>
                    </h2>
                </div>
                <div class="content-top">
                    <div class="col-md-12 panel-content rows" id="frame">
                        <div id="sidepanel">
                            <div id="profile">
                                <div class="wrap">
                                    <img id="profile-img" src="/img/avtar.jpg" class="online" alt="" />
                                    <p>Mike Ross</p>
                                    <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
                                    <div id="status-options">
                                        <ul>
                                            <li id="status-online" class="active">
                                                <span class="status-circle"></span>
                                                <p>Online</p>
                                            </li>
                                            <li id="status-away">
                                                <span class="status-circle"></span>
                                                <p>Away</p>
                                            </li>
                                            <li id="status-busy">
                                                <span class="status-circle"></span>
                                                <p>Busy</p>
                                            </li>
                                            <li id="status-offline">
                                                <span class="status-circle"></span>
                                                <p>Offline</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="expanded">
                                        <label for="twitter">
                                            <i class="fa fa-facebook fa-fw" aria-hidden="true"></i>
                                        </label>
                                        <input name="twitter" type="text" value="mikeross" />
                                        <label for="twitter">
                                            <i class="fa fa-twitter fa-fw" aria-hidden="true"></i>
                                        </label>
                                        <input name="twitter" type="text" value="ross81" />
                                        <label for="twitter">
                                            <i class="fa fa-instagram fa-fw" aria-hidden="true"></i>
                                        </label>
                                        <input name="twitter" type="text" value="mike.ross" />
                                    </div>
                                </div>
                            </div>
                            <div id="search">
                                <label for="">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </label>
                                <input type="text" placeholder="Search contacts..." />
                            </div>
                            <div id="contacts">
                                <ul>
                                    <li class="contact" v-for="(user, index) in onlines" :key="index">
                                        <div class="wrap" @click="fetchMessages(user._id)">
                                            <span class="contact-status online"></span>
                                            <img :src="`/img/${user.avata}`" alt="" />
                                            <div class="meta">
                                                <p class="name">{{ user.username }}</p>
                                                <p class="preview">Đang online...</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div id="bottom-bar">

                            </div>
                        </div>
                        <div class="content">
                            <div class="contact-profile">
                                <img src="/img/avtar.jpg" alt="" />
                                <p>Harvey Specter</p>
                                <div class="social-media">

                                </div>
                            </div>
                            <div class="messages" id="coversation">
                                <ul>
                                    <template v-for="(item, index) in messages">
                                        <li class="replies" :key="index" v-if=" item.user_name === currentUser.username ">
                                            <img src="/img/avtar.jpg" alt="" />
                                            <p>{{ item.message }}</p>
                                        </li>
                                        <li class="sent" :key="index" v-else>
                                            <img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
                                            <p>{{ item.message }}</p>
                                        </li>
                                    </template>
                                </ul>
                            </div>
                            <div class="message-input">
                                <div class="wrap">
                                    <form v-on:submit.prevent="sendMessage">
                                        <input type="text" placeholder="Write your message..." v-model="text" />
                                        <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
                                        <button class="submit" type="submit">
                                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                        </button>
                                        <form>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="clearfix"> </div>
                </div>
                <div class="copy">
                    <p> &copy; xdangminhtruongx@gmail.com | Design by
                        <a href="#" target="_blank">Dang Minh Truong</a>
                    </p>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        </div>
        <%- include('../blocks/footer_links') %>
</body>

</html>