<!DOCTYPE HTML>
<html>
	<head>
		<title>Minimal an Admin Panel Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="havana" />
		<%- include('../blocks/header_links') %>
	</head>
	<body>
		<div id="wrapper">
		<!------>
		<nav class="navbar-default navbar-static-top" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<h1> <a class="navbar-brand" href="/admin">Havana</a></h1>
		</div>
		<div class=" border-bottom">
			<div class="full-left">
				<section class="full-top">
					<button id="toggle"><i class="fa fa-arrows-alt"></i></button>	
				</section>
				<form class=" navbar-left-right">
					<input type="text"  value="Search..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search...';}">
					<input type="submit" value="" class="fa fa-search">
				</form>
				<div class="clearfix"> </div>
			</div>
			<%- include('../blocks/top_nav') %>
			<div class="clearfix">
			</div>
			<%- include('../blocks/main_menu') %>
		</nav>
		<div id="page-wrapper" class="gray-bg dashbard-1">
		<div class="content-main">
		<div class="banner">
		<h2>
		<a href="index.html">Trang quản trị</a>
		<i class="fa fa-angle-right"></i>
        <span><%= __('Người dùng') %></span>
        <i class="fa fa-angle-right"></i>
		<span><%= __('Danh sách') %></span>
		</h2>
		</div>
		<div class="content-top">
		<div class="col-md-12 " style="min-height:65vh" id="list_post">
        <div class="col-md-12" style="background-color:#fff">
					<table class="table table-striped">
						<thead>
							<tr>
                            <th>Ảnh</th>
                            <th>Tiêu đề</th>
							<th>
								Thao tác
							</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="(item, index) in list">
                                <td><img :src= " `/img/${item.avata}`" class="img-responsive" width="30px" height="50px"></td>
                                <td style="width: 80%; overflow-x: hidden">{{ item.title }}</td>
								<td>
									<a  v-bind:href="`/admin/category/update?id=${item._id}`" type="button" class="btn btn-warning btn-xs">Sửa</a>
									<button type="button" class="btn btn-danger btn-xs" @click="removeCategory(item._id)">Xóa</button>
								</td>
							</tr>
						</tbody>
						</table>
						<div class="col-md-12">
								<ul class="pagination pagination-sm">
										<li v-for="n in totalPages" @click="paginate(n)">
											<span v-if="n == curretnPage" style="color:red">{{n}}</span>
											<span v-else>{{n}}</span>
										</li>
									</ul>
						</div>
        </div>
		</div>
		<div class="clearfix"> </div>
		</div>
		<div class="copy">
				<p> &copy; xdangminhtruongx@gmail.com | Design by <a href="#" target="_blank">Dang Minh Truong</a> </p>
		</div>
		</div>
		<div class="clearfix"> </div>
		</div>
		</div>
		<%- include('../blocks/footer_links') %>
		<% if(typeof status !== 'undefined'){ %>
			<script>
				toastr.options.closeButton = true;
				toastr.success('Updated!');
			</script>
			<% } %>
	</body>
</html>