<div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
            <li>
                <a href="/admin" class=" hvr-bounce-to-right">
                    <i class="fa fa-dashboard nav_icon "></i>
                    <span class="nav-label"><%= __('Dashboards') %></span> </a>
            </li>
            <li>
                <a href="/admin/messages/index" class=" hvr-bounce-to-right">
                    <i class="fa fa-envelope-o nav_icon"></i>
                    <span class="nav-label"><%= __('Tin nhắn') %></span>
                </span></a>

            </li>
            <li>
                <a href="/admin/bills/index" class=" hvr-bounce-to-right">
                    <i class="fa fa-file-text-o nav_icon"></i>
                    <span class="nav-label"><%= __('Đơn hàng') %></span>
                </span></a>

            </li>
            <li>
                <a href="#" class=" hvr-bounce-to-right">
                    <i class="fa fa-indent nav_icon"></i> 
                    <span class="nav-label"><%= __('Loại sản phẩm')  %></span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li><a href="/admin/category/list" class=" hvr-bounce-to-right"> 
                        <i class="fa fa-list nav_icon"></i>Danh sách</a>
                    </li>
                    <li><a href="/admin/category/add" class=" hvr-bounce-to-right">
                        <i class="fa fa-plus nav_icon"></i>Thêm mới</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class=" hvr-bounce-to-right">
                    <i class="fa fa-product-hunt nav_icon"></i>
                    <span class="nav-label"><%= __('Sản phẩm') %></span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li><a href="/admin/product/list" class=" hvr-bounce-to-right">
                        <i class="fa fa-list nav_icon"></i>Danh sách</a>
                    </li>
                    <li><a href="/admin/product/add" class=" hvr-bounce-to-right">
                        <i class="fa fa-plus nav_icon"></i>Thêm mới</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class=" hvr-bounce-to-right">
                    <i class="fa fa-line-chart nav_icon"></i> 
                    <span class="nav-label"><%= __('Thống kê') %></span>
                    <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="/admin/analytic" class=" hvr-bounce-to-right">
                        <i class="fa fa-pie-chart nav_icon"></i><%= __('Over views') %></a>
                    </li>
                    <li><a href="validation.html" class=" hvr-bounce-to-right">
                        <i class="fa fa-list-ul nav_icon"></i><%= __('Product') %></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class=" hvr-bounce-to-right">
                    <i class="fa fa-users nav_icon"></i>
                    <span class="nav-label"><%= __('Người dùng') %></span><span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li><a href="/admin/user/list" class=" hvr-bounce-to-right">
                        <i class="fa fa-list-ul nav_icon"></i>Danh sách</a>
                    </li>
                    <li><a href="/admin/user/add" class=" hvr-bounce-to-right">
                        <i class="fa fa-user-plus nav_icon"></i>Thêm mới</a>
                    </li>
                </ul>
            </li>
            </ul>
        </div>
    </div>