<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>SimpleOne - A Responsive Html5 Ecommerce Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=100" >
        <%- include('../blocks/css_links')  %>
    </head>
    <body>
        <!-- Header Start -->
        <%- include('../blocks/header')  %>
        <!-- Header End -->
        <section >
            <div class="container" id="shopping_cart">
                <div v-if="items.length > 0" class="col-md-12">
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Home</a>
                            <span class="divider">/</span>
                        </li>
                        <li class="active"> Shopping Cart</li>
                    </ul>
                    <h1 class="heading1">
                        <span class="maintext"> Shopping Cart</span>
                        <span class="subtext"> All items in your  Shopping Cart</span>
                    </h1>
                    <div class="cart-info col-md-12">
                        <table class="table table-striped table-bordered">
                            <tr>
                                <th class="image">Image</th>
                                <th class="name">Product Name</th>
                                <th class="model">Model</th>
                                <th class="quantity">Qty</th>
                                <th class="price">Unit Price</th>
                                <th class="total">Total</th>
                                <th class="total">Action</th>
                            </tr>
                            <tr v-for="(item, index) in items" :key="index">
                                <td class="image"><a href="#"><img title="product" alt="product" :src="getImgPath(item.product_img)" height="50" width="50"></a></td>
                                <td  class="name"><a href="#">{{ item.product_name }}</a></td>
                                <td class="model">Purchased Product</td>
                                <td class="quantity">
                                    <input type="text" size="5" :value="item.product_quantity" 
                                          v-model="items[index].product_quantity" 
                                          @change="updateItemQuantity(item.product_id, index)" >
                                </td>
                                <td class="price" v-if="item.promo_price !== 0">${{ item.promo_price }}</td>
                                <td class="price" v-else>${{ item.unit_price }}</td>
                                <td class="total">
                                    <b v-if="item.promo_price !== 0">${{ item.promo_price * item.product_quantity }}</b>
                                    <b v-else>${{ item.unit_price * item.product_quantity }}</b>
                                </td>
                                <td class="total"> 
                                    <span>
                                      <img class="tooltip-test" data-original-title="Remove" @click="removeItem(item.product_id)"  src="/img/remove.png" alt="">
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-12 cartoptionbox" v-if="quickCheckout">
                        <form>
                            <div class="col-md-6 haft_form">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class="form-control" id="" aria-describedby="emailHelp" placeholder="Enter email">
                                    <small id="" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control"  placeholder="Password">
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" >
                                    <label class="form-check-label" for="">Check me out</label>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                            <div class="col-md-6 haft_form">
                                    <div class="form-group">
                                            <label for="exampleInputEmail1">Email address</label>
                                            <input type="email" class="form-control"  aria-describedby="emailHelp" placeholder="Enter email">
                                            <small  class="form-text text-muted">We'll never share your email with anyone else.</small>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Password</label>
                                            <input type="password" class="form-control" placeholder="Password">
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" >
                                            <label class="form-check-label" for="">Check me out</label>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                    <div class="container">
                        <div>
                            <div class="col-lg-4 pull-right">
                                <table class="table table-striped table-bordered ">
                                    <tr>
                                        <td><span class="extra bold">Sub-Total :</span></td>
                                        <td><span class="bold">{{ totalSum}}</span></td>
                                    </tr>
                                    <tr>
                                        <td><span class="extra bold"><%= __('Ship fee') %> :</span></td>
                                        <td><span class="bold"><%= __('freeship') %></span></td>
                                    </tr>
                                    <tr>
                                        <td><span class="extra bold totalamout">Total :</span></td>
                                        <td><span class="bold totalamout">$150.28</span></td>
                                    </tr>
                                </table>
                                <div style="display:inline-block">
                                        
                                        <% if(typeof user !== 'undefined'){ %>
                                            <button type="button" class="btn btn-orange" >CheckOut</button>
                                        <% } else { %>
                                            <button type="button" class="btn btn-orange" @click="quickCheckout = !quickCheckout">Quick checkOut</button>
                                            <button type="button" class="btn btn-orange">Login to checkout</button>
                                        <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-else class="cart-info" style="min-height: 50vh;">
                    Bạn hiện chưa có sản phẩm nào trong giỏ hàng
                </div>
            </div>
        </section>
        <!-- Footer -->
        <footer id="footer">
            <section class="footersocial">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 aboutus col-sm-6">
                            <h2>About Us </h2>
                            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <br>
                                <br>
                                t has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                            </p>
                        </div>
                        <div class="col-lg-3 contact col-sm-6">
                            <h2>Contact Us </h2>
                            <ul>
                                <li class="phone"> +123 456 7890, +123 456 7890</li>
                                <li class="mobile"> +123 456 7890, +123 456 78900</li>
                                <li class="email"> test@test.com</li>
                                <li class="email"> test@test.com</li>
                            </ul>
                        </div>
                        <div class="col-lg-3 twitter col-sm-6">
                            <h2>Twitter </h2>
                            <div id="twitter">
                            </div>
                        </div>
                        <div class="col-lg-3 facebook col-sm-6">
                            <h2>Facebook </h2>
                           
                        </div>
                    </div>
                </div>
            </section>
            <section class="footerlinks">
                <div class="container">
                    <div class="info">
                        <ul>
                            <li><a href="#">Privacy Policy</a>
                            </li>
                            <li><a href="#">Terms &amp; Conditions</a>
                            </li>
                            <li><a href="#">Affiliates</a>
                            </li>
                            <li><a href="#">Newsletter</a>
                            </li>
                        </ul>
                    </div>
                    <div id="footersocial">
                        <a href="#" title="Facebook" class="facebook">Facebook</a>
                        <a href="#" title="Twitter" class="twitter">Twitter</a>
                        <a href="#" title="Linkedin" class="linkedin">Linkedin</a>
                        <a href="#" title="rss" class="rss">rss</a>
                        <a href="#" title="Googleplus" class="googleplus">Googleplus</a>
                        <a href="#" title="Skype" class="skype">Skype</a>
                        <a href="#" title="Flickr" class="flickr">Flickr</a>
                    </div>
                </div>
            </section>
            <section class="copyrightbottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6"> All images are copyright to their owners. </div>
                        <div class="col-lg-6 textright"> ShopSimple @ 2012 </div>
                    </div>
                </div>
            </section>
            <a id="gotop" href="#">Back to top</a>
        </footer>
        <!-- javascript -->
        <%- include('../blocks/script_links') %>
    </body>
</html>